.hero {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.link-button {
    margin: 10px 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.hero-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}