.home {
    background-color: #f0f0f0;
    color: black;
    min-height: 100vh;
}
section {
    max-width: 100%;
    margin: 0 auto;
}
h1, h3 {
    margin: 10px 0;
}
p {
    color: #333;
    line-height: 1.6;
    margin: 0 20px;
}
button {
    background-color: #ff3c3c;
    color: white;
    border-radius: 6px;
    transition: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
}
button:hover {
    opacity: 0.8;
    scale: 1.1;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.8);
}
@media (max-width: 768px) {
    button:hover {
    opacity: 0.9;
    scale: none;
    box-shadow: none;
}
}